.header {
    background-color: rgb(125, 198, 220);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    box-shadow: 0px 1px 3px skyblue;
    z-index: 1;



}

.header-link {
    display: inline-block;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
    border: 1px solid white;
}



.left {
    display: flex;
    align-items: center;
    height: 80px;
    color: rgb(21, 54, 82);

}

.lucky-name {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: 2px;
    text-transform: capitalize;
    background-image: linear-gradient(rgb(66, 143, 231), rgb(143, 30, 60));
    background-size: cover;
    color: transparent;
    background-clip: text;
    cursor: pointer;

}

.lucky-name:hover {
    background-image: linear-gradient(rgb(7, 31, 59), rgb(250, 21, 82));
    transition: 0.1ms;

}

.lucky-logo {
    height: 60px;

}

@media (max-width: 1000px) {
    .left {
        width: unset;
    }

    .header {
        height: 90px;

        margin-bottom: 70px;
    }

    .search-bar {
        height: 60px;
    }
}

.middle {
    flex: 1;
    max-width: 850px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

.search-bar {
    flex: 1;
    width: 0;
    font-size: 16px;
    height: 38px;
    padding-left: 15px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-button {
    background-color: rgb(254, 189, 105);
    border: none;
    width: 45px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    flex-shrink: 0;
}

.search-icon {
    height: 22px;
    margin-left: 2px;
    margin-top: 3px;
}

@media (max-width: 575px) {
    .lucky-logo {
        display: none;
    }

    .lucky-name {
        display: block;
        height: 35px;
        margin-top: 5px;
    }

    .left {
        display: none;
    }

    .header {
        height: 60px;
    }


}

@media (max-width:600px) {
    .left {
        display: none;
    }



}

.right {

    flex-shrink: 0;
    display: flex;
}

.orders-link {
    color: rgb(245, 239, 239);
}

.returns-text {
    display: block;
    font-size: 15px;
}

.orders-text {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.cart-link {
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.cart-icon {
    width: 50px;

}

.cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
}

.cart-quantity {
    color: rgb(200, 113, 0);
    font-size: 16px;
    font-weight: 700;

    position: absolute;
    top: 4px;
    left: 22px;

    width: 26px;
    text-align: center;
}