.header {
    background-color: aqua;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    box-shadow: 0px 1px 3px skyblue;
    z-index: 3;


}

body {
    width: 100%;
    padding: 8px;
    background-color: rgb(172, 235, 235);
}

.left {
    display: flex;
    align-items: center;
    height: 60px;
    color: rgb(21, 54, 82);

}

.left p {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: 2px;
    text-transform: capitalize;
    background-image: linear-gradient(rgb(66, 143, 231), rgb(143, 30, 60));
    background-size: cover;
    color: transparent;
    background-clip: text;

}

.left img {
    height: 60px;
}

.header button {
    background-color: #f9f9f9;
    border: none;
    outline: none;
    border-radius: 2px;
}


.middle ul {
    display: flex;
    list-style: none;
    cursor: pointer;
    align-items: center;
    gap: 150px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

}

.right {
    background: transparent;
    font-size: 18px;

}

.right button {
    background: transparent;
    border: none;
    cursor: pointer;

    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(9, 23, 221);

}


.pipe-login-signup {
    color: black;
    margin: 0%;
}

.details {
    color: black;
    margin-top: 30px;
    background-color: rgb(253, 248, 231);
    font-size: 22px;
}

span {
    color: rgb(6, 6, 11);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}