.header {
    background-color: rgb(39, 59, 66);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    box-shadow: 0px 1px 3px skyblue;
    z-index: 1;



}

.header-link {
    display: inline-block;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
    border: 1px solid white;
}



.left {
    display: flex;
    align-items: center;
    height: 80px;
    color: rgb(21, 54, 82);

}

.lucky-name {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: 2px;
    text-transform: capitalize;
    background-image: linear-gradient(rgb(66, 143, 231), rgb(143, 30, 60));
    background-size: cover;
    color: transparent;
    background-clip: text;
    cursor: pointer;

}

.lucky-name:hover {
    background-image: linear-gradient(rgb(7, 31, 59), rgb(250, 21, 82));
    transition: 0.1ms;

}

.lucky-logo {
    height: 60px;

}

.middle {
    flex: 1;
    max-width: 850px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    gap: 45px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .left {
        width: unset;
    }

    .header {
        height: 60px;
        margin-bottom: 50px;
    }

    .lucky-name {
        display: none;
    }

    .middle {
        margin: 0%;
        padding: 0%;
        gap: 20px;
        align-items: center;
        font-size: 12px;
    }
}




/* Navbar container */

/* Links inside the navbar */


/* Dropdown container */
.products {
    float: left;
    overflow: hidden;

}

/* Dropdown button */
.products .dropbtn {
    font-size: larger;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



.products:hover .dropbtn {
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.products:hover .dropdown-content {
    display: block;
}

/* /////////////////////////////////////////////////////// */
.image img {
    width: 100%;


}

.image {
    position: relative;
    overflow: visible;


}

.services a,
.contact-details a {
    display: block;
    color: white;
    outline: none;
    text-decoration-line: none;
    font-size: larger;
}

.lucky-details {
    position: absolute;
    margin-left: 100px;
    margin-top: 130px;
    font-size: 20px;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;


}

.lucky-head {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    display: block;
    text-transform: capitalize;
    background-image: linear-gradient(rgb(231, 80, 66), rgb(143, 30, 60));
    color: transparent;
    background-clip: text;


}

.lucky-para {
    margin: 0%;
    font-family: cursive;
}

.lucky-para:hover {
    display: none;
}

.home-main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

}

.home-main img {
    width: 100%;
    height: 98vh;

}

.details {
    display: flex;
    flex-direction: column;
    font-size: larger;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;


}

.details ul {
    margin: 10px;
}

.details span {
    font-size: 30px;
    font-weight: 600;
    color: #FFC107;
    margin-bottom: 15px;
}


.lucky-welcome {
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
    color: rgb(2, 73, 79);
}

body {
    margin: 0%;
    padding: 0%;

}


.lucky-main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 3%;
    background-color: hsl(207, 100%, 98%);




}

.branch-details {
    display: flex;
    flex-direction: column;

}

.main-branch {
    display: flex;
    margin-top: 0px;
    background-color: hsl(207, 100%, 98%);
    gap: 40px;
    padding: 20px;
    border-bottom: 2px solid red;

}

.main-branch-details {
    display: flex;
    flex-direction: column;
}

.main-branch-details span,
.maisthan-branch-details span {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.image-container img {
    max-width: 800px;
    height: 400px;

}


.top {
    height: 158px;
}

.top img {
    width: 100%;
    margin: 0%;

}

.buttom img {
    width: 100%;
    margin: 0%;

}

.maisthan-branch {
    display: flex;
    margin-top: 0px;
    background-color: hsl(207, 100%, 98%);
    gap: 40px;
    padding: 20px;
}


@media (max-width:600px) {
    .home-main {
        margin-top: 62px;
    }

    .image img {
        width: 100%;
        height: 200px;
    }

    .lucky-details {
        display: none;
    }

    .top {
        height: 0%;
    }

    .details {
        font-size: 12px;
        line-height: normal;
    }

    .main-branch,
    .maisthan-branch {
        display: flex;
        flex-direction: column;
        margin: 0%;
        gap: 8px;
    }

    .main-branch-details span,
    .maisthan-branch-details span {
        font-size: 12px;

    }


    .image-container {
        margin: 0%;
    }


    .image-container img {
        max-width: 100%;
    }
}

@media (max-width:769) {
    .lucky-para {
        display: none;
    }

    .lucky-head {
        display: none;
    }

}

.footer {
    display: flex;
    background-color: hsl(192, 100%, 9%);
    margin-top: 0px;
    color: white;
    gap: 350px;
    justify-content: center;
    padding-bottom: 5%;

}


.left-section h2 {
    font-size: 24px;
    text-transform: capitalize;
    margin: 0%;
    color: #FFC107;
}

.left-section img {
    width: 30px;
    margin: 10px;
}




.note {
    max-width: 350px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.lorem {
    max-width: 350px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}




.contact {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0%;
}

.email {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 8px;

}

.email img {
    width: 20px;
    height: 20px;

}

.phone {
    display: flex;

    margin-top: 8px;
    gap: 8px;

}

.phone img {
    width: 20px;
    height: 20px;
}

.left-section {
    display: flex;
    align-items: center;
    height: 20px;
    color: rgb(21, 54, 82);
    padding-top: 8px;
}

.whatsaap {
    display: flex;
    margin-top: 8px;
    gap: 8px;
    margin-bottom: 5px;
}

.whatsaap img {
    width: 20px;
    height: 20px;

}

.whatsaap p {
    margin: 0%;
}

.right-section h3 {
    color: aqua;
    text-transform: capitalize;
    font-size: 24px;
}

.foot {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: larger;
    margin: 0%;

}

.foot p {
    margin: 0%;
}

@media (max-width:600px) {
    .footer {
        flex-direction: column;
        padding-left: 8px;
        gap: 15px;


    }

    .left-section1 {
        border-bottom: 2px solid black;
    }

    .lorem,
    .note {
        font-size: 12px;

    }

}