/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
*/

/* header  */
.header {
  background-color: rgb(125, 198, 220);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  box-shadow: 0px 1px 3px skyblue;
  z-index: 1;



}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}



.left {
  display: flex;
  align-items: center;
  height: 80px;
  color: rgb(21, 54, 82);

}

.lucky-name {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-left: 2px;
  text-transform: capitalize;
  background-image: linear-gradient(rgb(66, 143, 231), rgb(143, 30, 60));
  background-size: cover;
  color: transparent;
  background-clip: text;
  cursor: pointer;

}

.lucky-name:hover {
  background-image: linear-gradient(rgb(7, 31, 59), rgb(250, 21, 82));
  transition: 0.1ms;

}

.lucky-logo {
  height: 60px;

}

@media (max-width: 800px) {
  .left {
    width: unset;
  }
}

.middle {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  background-color: rgb(254, 189, 105);
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

@media (max-width: 575px) {
  .lucky-logo {
    display: none;
  }

  .lucky-name {
    display: block;
    height: 35px;
    margin-top: 5px;
  }

  .left {
    display: none;
  }
}

@media (max-width:600px) {
  .left {
    display: none;
  }
}

.right {

  flex-shrink: 0;
  display: flex;
}

.orders-link {
  color: rgb(245, 239, 239);
}

.returns-text {
  display: block;
  font-size: 15px;
}

.orders-text {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;

}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(200, 113, 0);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;

  width: 26px;
  text-align: center;
}




/* main body */
.main-container {
  display: grid;
  margin-top: 43px;
  margin-left: 6px;
  margin-right: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  text-align: left;
  align-items: start;
  align-content: baseline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: start;
  padding: 3px;
  align-content: baseline;

}

.container:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px rgb(197, 10, 10);
}

.product-name {
  font-size: 10px;
}

@media only screen and (min-width: 425px) {
  .main-container {
    grid-template-columns: 1fr 1fr;

    margin-top: 110px;
    align-items: center;
    text-align: center;
  }

  .header {
    height: 70px;
  }



  .container {
    align-items: center;

  }

  .product-name {
    font-size: 20px;
    text-align: start;
  }
}

@media only screen and (min-width: 992px) {
  .main-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

  .container {
    align-items: start;
    text-align: start;
  }

  .header {
    height: 60px;
  }



}


.buy {
  display: flex;
  margin-left: 15px;
  gap: 80px;
  font-size: large;
  text-decoration: none;
}

.buy-now {
  font-size: smaller;
  color: white;
  background-color: rgb(100, 191, 40);
  text-decoration: none;
  border: none;
  border-radius: 35px;
  padding: 10px;
  padding-left: 28px;
  padding-right: 28px;
  text-decoration: none;
}

.add-to-cart {
  font-size: smaller;
  color: white;
  background-color: rgb(191, 126, 40);
  text-decoration: none;
  border: none;
  border-radius: 35px;
  padding: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: rgb(217, 166, 98);
  border: 1px solid black;
}

.buy-now:hover {
  cursor: pointer;
  background-color: greenyellow;
  border: 1px solid black;
}

.product-price {
  color: green;
  font-size: large;
}

.product-image img {
  height: 100%;
  width: 100%;
}





/* 


  .amazon-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.amazon-header-middle-section {
 
}

.



 */